@page
@model BakeryRazorPage.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<section id="main">
    <h1>World's Best Coffee!*</h1>
    <p>
        Seriously, this is the best coffee you'll ever try.
        Okay I don't know about you but, yeah our coffee is pretty great.
    </p>
</section>


